body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: linear-gradient(135deg, #009688 0%, #004d40 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body, a, code, table, .blog-header-logo, .nav-underline, .link-body-emphasis, .text-primary-emphasis, .text-success-emphasis, .text-body-secondary {
  color: #f2f2f2 !important;
  text-decoration-color: #f2f2f2 !important;
}

.btn {
  border-color: #f2f2f2;
}

.btn:hover {
  background: #f2f2f2;
  border-color: #f2f2f2;
  color: #555 !important;
}

.btn-outline-secondary {
  border-color: #f2f2f2;
}

.btn-outline-secondary:hover {
  background: #f2f2f2;
  border-color: #f2f2f2;
  color: #555 !important;
}

.link-secondary {
  text-decoration: none;
}

.bg-body-tertiary {
  color: #555;
}

#logo {
  height: 30px;
  margin-right: 5px;
}

.blog-header-logo {
  font-size: 50px;
  animation: brighten 1s;
}

@keyframes brighten {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.position-sticky {
  top: 2rem;
}

to-top {
  background: #009688;
  position: fixed;
  bottom: 56px;
  right: 25px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  z-index: 2;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  text-decoration: none;
  pointer-events: none;
  transition: 0.25s;
}

to-top.active {
  bottom: 56px;
  pointer-events: auto;
  opacity: 1;
}

tab0d5 {
  padding-left: 22px;
}

thead {
  background: #00c0a0;
  position: sticky;
  top: 0;
  z-index: 2;
}

.no-sticky>thead {
  position: relative;
}

th {
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #fff;
  color: #f2f2f2;
}

th, td {
  padding: 8px;
  border-bottom: 2px solid #ddd;
}

td p {
  margin: 0;
}

.row {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

.row>.aos-item {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

/*noscript*/
#enable-javascript {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 25vw;
}

noscript h2 {
  margin: 5vh 0;
  padding: 0;
}

noscript p {
  min-width: 50vw;
}

noscript details {
  margin-top: 1.7vh;
  min-width: 50vw;
  text-align: inherit;
}

noscript details summary {
  text-align: center;
}

li {
  line-height: 1.5em;
  margin: 2vh 0;
}
